<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action="" method="">
        {% for field in form.visible_fields %}
            {{field.label_tag}}
            {{field}}
        {% endfor %}

        {% for field in form.hidden_fields %}
            {{field}}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>

    <hr><hr>
    <!--<form action="" method="get">
        <table>
            {{form}}
        </table>
        <input type="submit" value="Submit">
    </form>-->

    <h3>hard coded:</h3>
    <label for="id_name">Name:</label>
    <input type="text" name="name" id="id_name">

    <h3>rendered coded</h3>
    <label for="{{form.name.id_for_label}}">Name:</label>
    {{form.name}}

    <!--<form action="" method="get">
        <table>
            {{form}}
        </table>
        <input type="submit" value="Submit">
    </form>
    
    <hr><hr><hr>
    
    <form action="" method="get">
        <table>
            {{form.as_p}}
        </table>
        <input type="submit" value="Submit">
    </form>
    
    <hr>
    <form action="" method="get">
        <table>
            {{form.as_ul}}
        </table>
        <input type="submit" value="Submit">
    </form>
    <hr>
    <form action="" method="get">
        <table>
            {{form.name}}
        </table>
        <input type="submit" value="Submit">
    </form>
    <hr>-->
    <hr>
    <h3>render form field manually</h3>
    1. {{form.name.label}}
    <hr>
    2. {{form.name.label_tag}}
    <hr>
    3. {{form.name.id_for_label}}
    <hr>
    4. {{form.name.value}}
    <hr>
    5. {{form.name.html_name}}
    <hr>
    6. {{form.name.help_text}}
    <hr>
    7. {{form.name.name}}
    <hr>
    8. {{form.name.is_hidden}}
    <hr>
    9. {{form.name.field.required}}
    <hr>
    {% for field in form %}
        1. {{field.name}}
        2. {{field.label}}
        3. {{field.label_tag}}
        4. {{field.value}}
        <hr>
    {% endfor %}
</body>
</html>