{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>app1---home</h1>
    <img src="{% static 'images/myworld.jpg' %}" alt="world" height="200px">
    <img src="{% get_static_prefix %}images/myworld.jpg" alt="world" height="200px">
    <form action="">
        <input type="button" value="click me" onclick="disp()">
    </form>

    <script src="{% static 'js/1.js' %}"></script>
</body>
</html>