<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    <H1>Student Info:</H1>
    {% if stu %}
        <h2>Show Data:</h2>
        {% for st in stu %}
            {{st.id}}
            {{st.stuid}}
            {{st.stuname}}
            {{st.stuemail}}
            {{st.stupass}}
            <br>
        {% endfor %}
    {% else %}
        <h2>No Data</h2>
    {% endif %}
</body>
</html>